.header {
  padding-left: 2%;
  font-size: 30px;
}

.headerContainer h1 {
  margin-bottom: 0px;
}

.headerContainer {
  background-color: #154360;
  color: white;
  font-family: Cochin;
  display: flex;
  height: 60px;
  margin-top: 2%;
  align-items: center;
  width: 100vw;
  margin-left: -10px;
}
