.mainContainer {
  background-color: #FCFCFC;
  padding-bottom: 50px;
}

.cardColumns{
  margin-left:5%;
  margin-right:5%;
  display: flex;
  flex-direction: column;
}

.buttonContainerInIndex{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  margin-top: 50px;
}

.buttonContainerInIndex a{
font-size: 70px;
font-weight: bold;
color: #154360;
border-radius: 50%;
}

.paginationButtonPrev:hover{
  text-shadow:5px 0px 5px #154360;
  transition: all 0.2s ease;
transform: scale(1);
}

.paginationButtonNext:hover{
  text-shadow:-5px 0px 5px #154360;
  transition: all 0.2s ease;
transform: scale(1);
}
