.modalContainer {
  background-color: white;
  margin-left: 19.8%;
  margin-right: 19.8%;
  box-shadow: 1px 1px 10px Black;
  font-family: Cochin;
  font-size: 18px;
}

.darkContainer {
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  padding-bottom: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.backgroundImageContainer {
  display: flex;
  justify-content: center;
}

.backgroundImage {
  width: 775px;
  height: 170px;
}

.modalAvataarContainer {
  display: flex;
  justify-content: center;
  position: relative;
  margin-top: -100px;
}

.modalAvataar {
  height: 25%;
  width: 25%;
  border-radius: 250px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 8%;
  margin-right: 8%;
}

.infoContainer p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.firstcolumn {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

.secondcolumn {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 15px;
}

h3 {
  text-align: center;
  padding-top: 20px;
  margin-bottom: 25px;
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.buttonContainer a {
  font-size: 70px;
  font-weight: bold;
  color: #154360;
  border-radius: 50%;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 25px;
}

.paginationButtonPrev:hover {
  text-shadow: 5px 0px 5px #154360;
  transition: all 0.2s ease;
  transform: scale(1);
}

.paginationButtonNext:hover {
  text-shadow: -5px 0px 5px #154360;
  transition: all 0.2s ease;
  transform: scale(1);
}

.repoList {
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 20px;
}

.repoListEntry {
  display: inline-block;
  flex-grow: 1;
  width: calc(100% * (1/3) - 10px - 1px);
  margin-left: 120px;
}

.noRepoDeclaration {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 50px;
}

.bioContainer {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.bioContainer a {
  text-decoration: none;
  color: #154360;
  font-size: 15px;
}

.editIcon {
  height: 22px;
  width: 22px;
}

.bioContainer_content {
  display: flex;
  flex-grow: 20;
  justify-content: center;
}

.bioContainer_edit {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 5px;
}
