.searchDisplayContainer {
  padding: 20px;
  display:flex;
  flex-direction: column;
  background-color: white;
  margin-left: 12.5%;
  margin-right: 12.5%;
  box-shadow: 1px 1px 10px darkgray;
  font-family: Cochin;
  font-size: 18px;
}

.modalAvataarContainerinSearchDisplay {
  display: flex;
  justify-content: center;
}

.modalAvataarinSearchDisplay {
  height: 20%;
  width: 20%;
  border-radius: 250px;
  margin-top: 0px;
}

.infoContainerinSearchDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 2%;
  margin-right: 2%;
}

.infoContainerinSearchDisplay p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.editIcon{
  height:22px;
  width: 22px;
}
.bioContainer_content{
  display: flex;
  flex-grow: 20;
  justify-content: center;
}
.bioContainer_edit{
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding-bottom: 5px;
}
